.MARKDOWN_TO_HTML_CLASSNAME {
    >* {
        margin-top: 1.2em;
        margin-bottom: 1.2em;
        margin-left: 0.6em;
        margin-right: 0.6em;
    }

    h1 {
        font-size: 300%;
        line-height: 120%;
    }

    h2 {
        font-size: 200%;
        line-height: 120%;
    }

    blockquote {
        padding: 0.6em;
        border: solid 1px black;
        border-radius: 8px;
        background-color: rgb(222, 190, 190);
    }
}